.text-animate{
    opacity: 0;
    display: inline-block;
    min-width: 10px;
    animation: bounceIn 1s 1s ;
    animation-fill-mode:forwards;
    
}
.text-animate-hover{
    min-width: 10px;
    animation-fill-mode: both;
    display: inline-block;
    &:hover{
        animation: rubberBand 1s;
        color: #ffd700;
    }
}


@for $i from 1 through 50{
    .text-animate._#{$i}{
        animation-delay: #{$i / 10}s;
    }
}